<!DOCTYPE html>
{% extends "layout.html" %}
{% block pagename %} Lisää tavara {% endblock %}
{% block content %}
<form action="/new_item" method="POST">
    <p>Tavaran nimi:<br>
        <input type="text" name="name">
    </p>
    <p>Sijainti:<br>
        <input type="text" name="location">
    </p>
    <input type="submit" value="Luo tavara">
</form>
{% if error %}
<p class="text-danger">{{error}}</p>
{% endif %}
{% endblock %}
{% block notlogged %}
<p>Sinun pitää <a href="/">kirjautua sisään</a> tai <a href="/create_user">luoda käyttäjätili</a>!</p>
{% endblock %}
