<!DOCTYPE html>
{% extends "layout.html" %}
{% block pagename %} Lisää omistaja tavarallesi {% endblock %}
{% block content %}
<p>Omistjan lisääminen ei poista omaa omistajuuttasi.</p>
<form action="/new_owner" method="POST">
    <div class="form-group">
        <label for="username">Käyttäjätunnus, josta haluat tehdä tavaran {{item_name}} omistajan: </label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <input type="hidden" name="item_id" value="{{item_id}}">
    <input type="hidden" name="item_name" value="{{item_name}}">
    <input type="submit" class="btn btn-primary mt-2 mb-2" value="Tee omistajaksi">
</form>
{% if error %}
<p class="text-danger">{{error}}</p>
{% endif %}
{% endblock %}
{% block notlogged %}
<p>Sinun pitää <a href="/">kirjautua sisään</a> tai <a href="/create_user">luoda käyttäjätili</a>!</p>
{% endblock %}