<!DOCTYPE html>
{% extends "layout.html" %}
{% block pagename %} Etusivu {% endblock %}
{% block content %}
<p>Olet kirjautuneena sisään.</p>
{% endblock %}
{% block notlogged %}
<form action="/login" method="POST">
    <p>Käyttäjätunnus:<br>
        <input type="text" name="name">
    </p>
    <p>Salasana:<br>
        <input type="password" name="password">
    </p>
    <input type="submit" value="Kirjaudu sisään">
</form>
{% if error==1 %}
<p class="text-danger">Salasana väärin tai käyttäjää ei ole!</p>
{% endif %}
<br>
<a href="/create_user">Luo uusi käyttäjä</a>
{% endblock %}
