<!DOCTYPE html>
{% extends "layout.html" %}
{% block pagename %} Etsi tavara {% endblock %}
{% block content %}
<p>Sinulla on {{no_of_items[0]}} tavara(a), joiden lisäksi sinulla on oikeus tarkastella {{no_of_items[1]}} tavara(a).</p>
<form action="/fetch_by_name" method="GET">
    <div class="form-group">
        <label for="name">Tavaran nimi: </label>
        <input type="text" class="form-control" id="name" name="name">
        <input type="submit" class="btn btn-primary mt-1 mb-4" value="Etsi tavaran nimellä">
</form>
<br>
<form action="/fetch_by_tag" method="GET">
    <div class="form-group">
        <label for="tag">Tägi: </label>
        <input type="text" class="form-control" id="tag" name="tag">
        <input type="submit" class="btn btn-primary mt-1 mb-3" value="Etsi tägillä">
</form>
<br>
<form action="/fetch_contents_by_name" method="GET">
    <div class="form-group">
        <label for="container">Sisältävän tavaran nimi: </label>
        <input type="text" class="form-control" id="container" name="container">
        <input type="submit" class="btn btn-primary mt-1 mb-3" value="Etsi sijainnin mukaan">
</form>
<br>
<form action="/fetch_all_items" method="GET">
    <input type="submit" class="btn btn-primary mt-2 mb-4" value="Näytä kaikki tavarat">
</form>
{% if error %}
<p>{{error}}</p>
{% endif %}
{% endblock %}
{% block notlogged %}
<p>Sinun pitää <a href="/">kirjautua sisään</a> tai <a href="/create_user">luoda käyttäjätili</a>!</p>
{% endblock %}