<!DOCTYPE html>
{% extends "layout.html" %}
{% block pagename %} Etsi tavara {% endblock %}
{% block content %}
<form action="/fetch_item" method="GET">
    <p>Tavaran nimi:<br>
        <input type="text" name="name">
    </p>
    <input type="submit" value="Etsi tavara">
</form>
<form action="/fetch_all_items" method="GET">
    <input type="submit" value="Näytä kaikki tavarani">
</form>
{% if error %}
<p>Haettua tavaraa ei löytynyt</p>
{% endif %}
{% endblock %}
{% block notlogged %}
<p>Sinun pitää <a href="/">kirjautua sisään</a> tai <a href="/create_user">luoda käyttäjätili</a>!</p>
{% endblock %}