<!DOCTYPE html>
{% extends "layout.html" %}
{% block pagename %} Etsi tavara {% endblock %}
{% block content %}
<p>Sinulla on yhteensä xyz tavaraa.</p>
<form action="/fetch_item" method="GET">
    <div class="form-group">
        <label for="name">Tavaran nimi: </label>
        <input type="text" class="form-control" id="name" name="name">
    </p>
    <input type="submit" class="btn btn-primary mt-2" value="Etsi tavara">
</form>
<form action="/fetch_all_items" method="GET">
    <input type="submit" class="btn btn-primary mt-2" value="Näytä kaikki tavarani">
</form>
{% if error %}
<p>Haettua tavaraa ei löytynyt</p>
{% endif %}
{% endblock %}
{% block notlogged %}
<p>Sinun pitää <a href="/">kirjautua sisään</a> tai <a href="/create_user">luoda käyttäjätili</a>!</p>
{% endblock %}